.bookList {
  background-color: #51B1A8;
}
.booksWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 500px);
  grid-gap: 20px;
  padding: 1.5rem;
  position: relative;
}
.mainCard {
  background-color: #CEB29F;
  border: 5px solid #403A34;
  width: 85%;
  height: 165px;
  position: absolute;
  top: 88%;
  left: 5%;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

}
.mainCard h5 {
  position: relative;
  top: 27%;
}
.mainCard h3 {
  position: relative;
  top: 25%;
}