.header{
  background-color: #403A34;
  /* #312F40; */
}
.headerWrapper {
  width: 80%;
  margin: 0 auto;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loginW {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.logo {
  color: #CEB29F;
  font-size: 1.5rem;
  font-weight: bolder;
  font-style: italic;
}
.navWrapper{
  width: 50%;
}
.navigation{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navLink{
  margin-right:20px
}