* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}
.wrapper-70 {
    width: 70%;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.link{
    text-decoration: none;
}