.card {
  width: 13rem;
}
.book-card {
  width: 13rem;
  height: 31rem;
  border: 5px solid #CEB29F;
  margin-top: 15px;
  z-index: 2;
  background-color: white;
}
#card img {
  width: 100px;
  height: 100px;
}

.margin-card {
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}
.book-body {
  height: 12rem;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  padding: 1rem;
}
.btn-add {
  width: 80px;
  padding: 2px;
}
.btn-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  align-items: end;
}
